*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared-scale */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.color-green{
    color: #30b868;
}
.btn{
    background-color: #30b868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;

}

/* main  */
header{
    background-color: #FFFFFF;
    
}

nav{
    max-width: 1600px;
    max-height: 92px;
    margin: 0px auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .manu a{
    font-size: 16;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

#banner{
    display: flex;
    /* margin: 0px auto; */
}

#banner .banner-container{
    background: url("../assets/hero-bg.png");
    width: 1600px;
    height: 674px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    margin: 0 auto;

}

#banner .banner-container .badge{
    height: 35px;
    width: 229px;
    background-color: #FFFFFF;
    border-radius: 1000PX;
    padding: 8px 12px;
    /* display: inline-flex; */
    /* align-items: center; */
    margin: 116px 686px 16px;
}

#banner .banner-container .badge h4{
    color: #30b868;
    font-size: 16px;
    font-weight:500;
    text-align: center;

}
#banner .banner-container .banner-heading{
    margin: 0 415px 16px;
    text-align: center;
}

#banner .banner-container .banner-heading h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
}
#banner .banner-container .banner-paragraph{
     text-align: center;
     margin-top: 16px;
}
#banner .banner-container .banner-paragraph p{
        color: #FFFFFF;
        font-size: 18px;
        font-weight:400 ;
        line-height: 30px;
}
#banner .banner-container .banner-font-green {
    color: #30b868;
}

#banner .banner-container .banner-button{
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap:16px ;
    margin-left: 568px;
    margin-bottom: 180px;
}

#note{
    display: flex;
    background-color: #FFFFFF;
}

#note .note-container{
    width: 1600px;
    height: 448px;
     margin: 0 auto;
    text-align: center;
}

#note .note-container .section-heading{
    width: 1360px;
    height: 152px;
    text-align: center;
    align-content: end;
    justify-content: space-around;
    /* margin-left:120px ; */
    margin: 0px auto;
}

#note .note-container .section-heading h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}
#note .note-container .section-heading p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

#note .note-info{
    width: 1360px;
    height: 300px;
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}
#note .note-info .info-card{
    width: 322px;
    height: 300px;
    margin-top: 44px ;
    display: flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
    box-shadow: 0 6px 50px 0 #2e2d2d27;
}

#note .note-info .info-card .icon-bg{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

}
#note .note-info .info-card .icon-bg img{
    width: 32px;
    height: 32px;
    object-fit: contain;
}

#note .note-info .info-card h3{
    font-size: 24px;
    font-weight:600 ;
    color: #001931;
    margin-left: 24px;
    margin-right: 24px ;
    text-align: center;
}

#note .note-info .info-card p{
    font-size: 16px;
    font-weight:400 ;
    color: #627382;
   padding: 0 24px 22px;
    text-align: center;   
}
