*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared-scale */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.color-green{
    color: #30b868;
}
.btn{
    background-color: #30b868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;

}

/* main  */
header{
    background-color: #FFFFFF;
    
}

nav{
    max-width: 1600px;
    max-height: 92px;
    margin: 0px auto;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .manu a{
    font-size: 16;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

#banner{
    display: flex;
    /* margin: 0px auto; */
}

#banner .banner-container{
    background: url("../assets/hero-bg.png");
    width: 1600px;
    height: 674px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    margin: 0 auto;

}

#banner .banner-container .badge{
    height: 35px;
    width: 229px;
    background-color: #FFFFFF;
    border-radius: 1000PX;
    padding: 8px 12px;
    /* display: inline-flex; */
    /* align-items: center; */
    margin: 116px 686px 16px;
}

#banner .banner-container .badge h4{
    color: #30b868;
    font-size: 16px;
    font-weight:500;
    text-align: center;

}
#banner .banner-container .banner-heading{
    margin: 0 415px 16px;
    text-align: center;
}

#banner .banner-container .banner-heading h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
}
#banner .banner-container .banner-paragraph{
     text-align: center;
     margin-top: 16px;
}
#banner .banner-container .banner-paragraph p{
        color: #FFFFFF;
        font-size: 18px;
        font-weight:400 ;
        line-height: 30px;
}
#banner .banner-container .banner-font-green {
    color: #30b868;
}

#banner .banner-container .banner-button{
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap:16px ;
    margin-left: 568px;
    margin-bottom: 180px;
}




